<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pmsi.ESClusterHealthNotification.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Pmsi.ESClusterHealthNotification.Service.Properties.Settings>
            <setting name="LogLocation" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ES Cluster Health Notification</value>
            </setting>
            <setting name="requestUrl" serializeAs="String">
                <value>http://67.202.79.81/_cluster/health?pretty=true</value>
            </setting>
            <setting name="SleepTimeInSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NotificationEmails" serializeAs="String">
                <value>atalhan@pmsi-consulting.com;mrashid@pmsi-consulting.com</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>pmsi@pmsi-consulting.com</value>
            </setting>
            <setting name="SmtpPass" serializeAs="String">
                <value>pms1123!$</value>
            </setting>
            <setting name="Sender" serializeAs="String">
                <value>pmsi@pmsi-consulting.com</value>
            </setting>
            <setting name="StatusList" serializeAs="String">
                <value>red,yellow</value>
            </setting>
            <setting name="DNotificationTime" serializeAs="String">
                <value>22</value>
            </setting>
        </Pmsi.ESClusterHealthNotification.Service.Properties.Settings>
    </applicationSettings>
</configuration>